<!--
  Generated template for the MovieDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="selectedMovie">{{selectedMovie.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="card-details" *ngIf="selectedMovie">

    <ion-card-header class="details-header">
      <img class="movie-poster" src="{{movieCoverBaseUrl + selectedMovie.poster_path}}">

      <div class="movie-details">
        <div class="movie-title">{{selectedMovie.title}}</div>
        <div class="movie-release-year"> {{movieReleaseDate.getFullYear()}}</div>
      </div>

    </ion-card-header>

    <ion-toolbar no-border>
      <ion-segment [(ngModel)]="segmentOption">
        <ion-segment-button value="description">
          Description
        </ion-segment-button>

        <ion-segment-button value="trailers">
          Trailers
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>


    <ion-card-content>
      <div [ngSwitch]="segmentOption">
        <div class="info" *ngSwitchCase="'description'">
          {{selectedMovie.overview}}
        </div>

        <div class="info" *ngSwitchCase="'trailers'">
          trailers go here
        </div>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card class="card-details">
    <ion-card-header class="review-title">Movie Reviews</ion-card-header>
    <ion-card-content>
      <form>
        <ion-textarea class="text" maxlength="140"></ion-textarea>
        <button ion-button (click)="submitReview()">Submit Review<span><ion-icon name="create-outline" icon-right></ion-icon></span></button>
      </form>
    </ion-card-content>
  </ion-card>



</ion-content>
