page-movie-details {
  .movie-poster{
    width: 110px;
    height: 165px;
  }

  .details-header{
    display: flex;
  }

  .movie-title{
    font-size: 7vw;
    //max-width: ;
    padding: 5px;
    overflow: scroll;
  }

}
