<ion-header *ngIf="loaded">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<div *ngIf="!loaded" class="sploosh">
  <div>Loading...</div>
</div>

<ion-content padding>

  <div *ngIf="loaded">
  <div class="nav">
    <div class="titleDiv">
      <h3 class="title">{{title}}</h3>
    </div>

    <div class="searchDiv">
      <input id="search" placeholder="Seach...">
    </div>



  </div>


  <div class="coolSlides" *ngIf="posters && posters.length">
    <ion-slides autoplay=“1000” loop=“true” speed=“300” loop>
      <ion-slide *ngFor="let poster of posters">
        <img src={{poster.image}}>

      </ion-slide>
    </ion-slides>
  </div>

  <div class="popular">
    <h3 class="heading">Most Popular</h3>
    <div class="wrap">
      <div *ngFor="let thumb of popular" class="scroll">
        <div class="scrollingBoxes">
          <img src={{movie.getPosterPath(thumb.poster_path)}}>
        </div>
      </div>
    </div>
  </div>


  <div class="disney">
    <h3 class="heading">Disney</h3>
    <div class="wrap">
      <div *ngFor="let thumb of disney" class="scroll">
        <div class="scrollingBoxes">
          <img src={{movie.getPosterPath(thumb.poster_path)}}>
        </div>
      </div>
    </div>
  </div>


  <div class="action">
    <h3 class="heading">Action</h3>
    <div class="wrap">
      <div *ngFor="let thumb of action" class="scroll">
        <div class="scrollingBoxes">
          <img src={{movie.getPosterPath(thumb.poster_path)}}>
        </div>
      </div>
    </div>
  </div>


  <div class="footing">
    <p class="finePrint">movie-review-app LLC, all rights reserved</p>
  </div>

  </div>


</ion-content>
