<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="nav">
    <div class="titleDiv">
      <h3 class="title">{{title}}</h3>
    </div>

    <div class="searchDiv">
      <input id="search" placeholder="Seach...">
    </div>



  </div>


  <div class="coolSlides" *ngIf="posters && posters.length">
    <ion-slides autoplay=“1000” loop=“true” speed=“300” loop>
      <ion-slide *ngFor="let poster of posters">
        <img src={{poster.image}}>

      </ion-slide>
    </ion-slides>
  </div>

  <div class="popular">
    <h3>Most Popular</h3>
    <div class="image-container" *ngFor="let thumb of popular" style="display: flex; justify-content: space-around">
      <div style="width: 150px; height: 175px; border: 2px solid black;">{{thumb.name}}</div>
    </div>
  </div>



  <div class="row">
    <div class="row__inner">

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" />
          <h1>{{thumb.name}}</h1>
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Top Gear
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>
